<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sistemarrhh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sistemarrhh.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SistemaRRHH</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SistemaRRHH</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SISTEMA_DE_NOMINAEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sistemarrhh.database.windows.net,1433;Initial Catalog=Sistema_De_Nomina;Persist Security Info=False;User ID=eduardovalen;Password=123qwezxc@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:sistemarrhh.database.windows.net,1433;Initial Catalog=Sistema_De_Nomina;Persist Security Info=False;User ID=eduardovalen;Password=123qwezxc@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SISTEMANOMINA.Models.ApplicationDbContext, SISTEMANOMINA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SISTEMA_DE_NOMINAConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sistemarrhh.database.windows.net,1433;Initial Catalog=Sistema_De_Nomina;Persist Security Info=False;User ID=eduardovalen;Password=123qwezxc@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:sistemarrhh.database.windows.net,1433;Initial Catalog=Sistema_De_Nomina;Persist Security Info=False;User ID=eduardovalen;Password=123qwezxc@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:sistemarrhh.database.windows.net,1433;Initial Catalog=Sistema_De_Nomina;Persist Security Info=False;User ID=eduardovalen;Password=123qwezxc@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SISTEMA_DE_NOMINAConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:sistemarrhh.database.windows.net,1433;Initial Catalog=Sistema_De_Nomina;Persist Security Info=False;User ID=eduardovalen;Password=123qwezxc@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SISTEMANOMINA-20180405083433.mdf;Initial Catalog=aspnet-SISTEMANOMINA-20180405083433;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SISTEMANOMINA-20180405083433.mdf;Initial Catalog=aspnet-SISTEMANOMINA-20180405083433;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SISTEMANOMINA-20180405083433.mdf;Initial Catalog=aspnet-SISTEMANOMINA-20180405083433;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SISTEMA_DE_NOMINAConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:sistemarrhh.database.windows.net,1433;Initial Catalog=Sistema_De_Nomina;Persist Security Info=False;User ID=eduardovalen;Password=123qwezxc@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SISTEMANOMINA-20180405083433.mdf;Initial Catalog=aspnet-SISTEMANOMINA-20180405083433;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SISTEMA_DE_NOMINAEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:sistemarrhh.database.windows.net,1433;Initial Catalog=Sistema_De_Nomina;Persist Security Info=False;User ID=eduardovalen;Password=123qwezxc@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>